.lista-deseos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .lista-deseos h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .link-dashboard {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .link-dashboard:hover {
    background-color: #0056b3;
  }
  
  .lista-deseos-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .articulo {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 17rem;
  }
  
  .articulo:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .articulo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .articulo h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .articulo p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .articulo a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .articulo a:hover {
    color: #0056b3;
  }
  
  .articulo button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .articulo button:hover {
    background-color: #b02a37;
  }
  